{
    "compiler": "modular",
    "name": "course-angular",
    "version": "0.0.1",
    "dependencies": {},
    "alias": {
    	"Angular": "./bower_components/angular",
    	"Bootstrap": "./bower_components/bootstrap/dist/css"
    },
    "export": [
    	"styles/course-angular.scss",
    	"scripts/course-angular.js"
    ]
}